.header1-demosite {
	display: none;
	visibility: hidden;
}

.header2-demosite {
	display: block;
	visibility: visible;
}

.header3-demosite {
	display: none;
	visibility: hidden;
}

.header4-demosite {
	display: none;
	visibility: hidden;
}